:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-error: rgba(231, 0, 27, 0.8);
  --toastify-color-info: rgba(0, 20, 75, 0.8);
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-bd-radius: 14px;
  --toastify-toast-width: 340px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 50px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: CustomFont;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  --dynamic-bottom-offset: calc(var(--toastify-toast-offset) + 5.5rem);
  --toastify-toast-bottom: calc(
    max(var(--dynamic-bottom-offset), env(safe-area-inset-bottom))
  );
}

.Toastify__toast-container--bottom-center {
  bottom: var(--toastify-toast-bottom);
  left: 50%;
  transform: translateX(-50%);
}

.Toastify__toast--stacked {
  position: absolute;
  width: 100%;
  transform: translate3d(0, var(--y), 0) scale(var(--s));
  transition: transform 0.3s;
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}

.Toastify__toast {
  touch-action: none;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-radius: var(--toastify-toast-bd-radius);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: default;
  direction: ltr;
  z-index: 0;
  overflow: hidden;
}
